.movie {
    font-family: "Montserrat";
    border-radius: 3px;
    overflow: hidden;
    margin: 1rem;
}

.movie img {
    padding: 1rem;
    max-height: 30rem;
    max-width: 40rem;
    border-radius: 8px;
}

.info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.detail {
    background-color: black;
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 30%;
    transform: translateY(100%);
    transition: transform 0.2s ease-in-out;
    opacity: 0;
}

.movie:hover .detail {
    transform: translateY(0%);
    opacity: 1;
}

.info span {
    color: white;
    background-color: #ff00004d;
    border: 3px solid #ff00004d;
    border-radius: 5px;
    padding: 0.5rem;
}