.seatInfoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 2rem;
  text-align: center;
}

.seats {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.seatState {
  font-size: 1rem;
  margin-right: 2rem;
}

.seatBlock {
  list-style: none;
}

.seatBlock li {
  margin-top: 1.1rem;
  border: 1px solid black;
}

.na {
  background-color: #444451;
  height: 18px;
  width: 18px;
}

.selected {
  background-color: #ff00004d;
  height: 18px;
  width: 18px;
}

.unoccupied {
  background-color: white;
  height: 18px;
  width: 18px;
}

.screen {
  text-align: center;
  border: 1px solid black;
  width: 8rem;
  height: 4rem;
  margin-top: 2rem;
  font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  margin-left: 10px;
  width: 5rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
}
