.seatBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.seatBox .row {
  margin-bottom: 10px;
  width: 30%;
}

.na {
  list-style: none;
  background-color: #444451;
  height: 18px;
  width: 18px;
  border: 1px solid black;
}

.selected {
  list-style: none;
  background-color: #ff00004d;
  height: 18px;
  width: 18px;
  border: 1px solid black;
}

.unoccupied {
  list-style: none;
  background-color: white;
  height: 18px;
  width: 18px;
  border: 1px solid black;
}

.row {
  display: flex;
  justify-content: space-around;
}
