.header {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgb(209, 162, 162);
    position: sticky;
    top: 0;
    z-index: 100;
    color: rgb(36, 34, 34);
}

.header_movieIcon {
    width: 60px;
    object-fit: contain;
    margin: 0 0; 
}

.header_input {
  padding: 5px;
  height: 25px;
  width: 30%;
  margin-left: 10px;
}



